body {
  font-family:"PT Sans","Arial", sans-serif;
  margin:0;
  padding: 0;
  text-transform: uppercase;
  color:#ffffff;
  font-weight: 400;
  background: #f2f2f2;
}

.wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 5px 0px #34495e;
  background-color: #ffffff;
}

li {
  list-style: none;
  font-weight: bold;
}
a {
  text-decoration: none;
}

.logo {
 position: absolute;
 left: 50%;
 top: 0;
 z-index: 1;
 width: 138px;
 margin-left: -69px;
 height: 70px;
}

.main-header {
  position: relative;
  height: 60px;
}
.main-navigation {
 position: relative;
}
.nav__list {
 display: flex;
 height: 55px;
 width: 1200px;
 align-items: center;
 z-index: 0;
 margin: 0;
 padding: 0;
}
.nav__item {
 width: 20%;
 padding-left: 0;
}
.nav__item-first {
  text-align: left;
  margin-left: 6%;
}
.nav__item-second {
  text-align: left;
}

.nav__item:nth-child(3) {
  text-align: right;
   margin-left: auto;
}
.nav__item:nth-child(4) {
  text-align: right;
  margin-right: 6%;
}

.nav__link:hover {
  color:#81b3d2;
}
.nav__link:active {
  color:#818181;
}
.nav__link {
  color:black;
}
.nav__link--active {
  color: rgb(118, 99, 87);
}

.filter-range {
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 7px;
  margin-bottom: 5px;
}
.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.price-controls {
  height: 32px;
  width: 314px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  position: relative;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;;
  background: #ffffff;
}
.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 60px;
}
.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  background: none;
  border: none;
}
.prices__title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.prices__range {
  height: 1px;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 1, 1, 0.2);
            box-shadow: 0px 2px 1px 0px rgba(0, 1, 1, 0.2);
  cursor: pointer;
  background: #ababab;
  border: 8px solid #ffffff;
}
.range-toggle-min {
  left: 0;
}
.btn-transparent {
  display: block;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  width: 132px;
  height: 32px;
  margin-left: 87px;
  text-align: center;
}
.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}
.range-toggle-max {
  left: 80%;
}
.range-toggle:hover {
  background: #1c4f80;
}
.header__background-logo {
  position: relative;
  background: #c0d6e4 url("../img/welcome-sedona.jpg") no-repeat center;
  width: 100%;
  height: 510px;
  background-size: cover;
}
.header__background-logo::after {
 content: '';
 position: absolute;
 z-index: 2;
 left: 0;
 right: 0;
 bottom: 0;
 height: 57px;
 background: transparent url('../img/zigzag.png') no-repeat 0 50%;
 background-size: 100% 57px;
}

.header__background-logo img {
  position:relative;
  top: 76px;
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.reasons-header {
  padding: 0;
  padding-top: 60px;
  padding-bottom: 51px;
  margin-left: auto;
  margin-right: auto;
  width: 576px;
  text-align: center;
}
.reasons-title {
  font-size: 21px;
  line-height: 26px;
  color: black;
  margin: 0;
  margin-top:-4px;
  text-align: center;
}

.reasons-header p {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: normal;
  margin: 0;
  margin-top: 28px;
}

.reason-row {
  display: flex;
  padding-top: 3px;
  flex-direction: row;
  height: 256px;
}

.reason {
  line-height: 21px;
  background-color: #81b3d2;
  text-align: center;
  width: 33.3333333%;
  padding-right: 6%;
  padding-left: 6%;
  box-sizing: border-box;
  padding-top: 39px;
}

.reason-picture {
  width: 66.669%;
  background-size: cover;
}

.form {
  position: absolute;
  z-index: 10;
  left: 0;
  padding: 55px;
  background-color: white;
}

.reason-row__title {
  font-size: 21px;
  color:white;
  padding: 0px 75px;
  margin-top:8px;
}

.reason-icon {
  line-height: 21px;
  background-color: white;
  text-align: center;
  padding-top: 50px;
  width: 33.3333%;
  padding-bottom: 60px;
}
.icon__souvenir,
.icon__housing,
.icon__food
{
   margin-bottom: 26px;
}

.icon__souvenir {
  background: url("../img/icon-2.svg") no-repeat center;
  height: 74px;
}
.icon__housing {
  background: url("../img/icon-1.svg") no-repeat center;
  height: 74px;
}
.icon__food {
  background: url("../img/icon-3.svg") no-repeat center;
  height: 74px;
}

.reason-title {
  font-size: 21px;
  color: black;
  margin: 0;
}
.reason__text {
  font-size: 14px;
  color: #333333;
  font-weight: normal;
  padding-left: 58px;
  padding-right: 55px;
  margin: 0;
  margin-top: 26px;
}
.reason-row-gray {
  line-height: 21px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(241,241,241);
  min-height: 256px;
}
.reason-gray {
  padding-top: 46px;
  width: 33.3333%;
  padding-bottom: 56px;
}

.reason-row-gray .reason-number {
 color: black;
}

.reason-gray__title {
  font-size:21px;
  color:black;
  width: 30%;
  margin: 0 auto;
  margin-top:0;
}

.reason-gray__desc {
  font-size:14px;
  color:#333333;
  font-weight: normal;
  width: 70%;
  margin: 0 auto;
  padding-top: 5px;
}

.search__title {
  font-size:30px;
  color:black;
  line-height: 36px;
  margin-bottom:23px;
}
.search__desc {
  font-size:14px;
  color:#333333;
  line-height: 24px;
  font-weight: normal;
  margin-top:0;
  margin-bottom: 45px;
}
.search_travel {
  font-size: 21px;
  line-height: 26px;
  color: black;
  text-align: center;
  padding-top: 28px;
}

.kids__button {
  width: 100%;
}
.kids__label {
  width: 100%;
  padding-left: 20px;
}
.older__label {
  width: 50%;
  text-align: left;
}
.older__button,
.kids__button {
  white-space: nowrap;
}
.in__label,
.out__label {
  width: 37%;
  text-align: left;
}
.in__label-text,
.out__label-text {
  width: 72%;
}
.in__label,
.out__label,
.older__label,
.kids__label {
  font-size:14px;
  line-height: 26px;
  color:black;
}
.search__btn {
  font-size: 21px;
  line-height: 48px;
  color: white;
  background: #766357;
  width: 568px;
  min-height: 86px;
  text-transform: uppercase;
  border: 0px;
  font-family: "PT Sans","Arial", sans-serif;
  font-weight: 800;
  left: 50%;
}
.search__btn:hover {
  background: #604e43;
}
.search__btn:active {
  background: #503e33;
  color:#818181;
}
.older,
.kids {
  width: 50%;
}
.form_wrapper {
  width: 100%;
}
.info__older,
.info__kids,
.form_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: -8px;
  width: 458px;
}
.in,
.out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
  align-items: baseline;
  position: relative;
}
.in__label-text {
  width: 100%;
  height: 38px;
  padding: 0 15px;
}
.out__label-text {
  width: 100%;
  height: 38px;
  padding: 0 15px;
}
.older__label-numbers,
.kids__label-numbers {
  margin-right: -4px;
  margin-left: -4px;
  height: 36px;
}
.kids__number-plus,
.kids__number-minus,
.older__number-plus,
.older__number-minus {
  padding-bottom: 9px;
  padding-top: 8px;
  padding-left: 14.2px;
  padding-right: 14.2px;
}
.older__label-numbers,
.kids__label-numbers,
.older__number-minus,
.older__number-plus,
.kids__number-minus,
.kids__number-plus {
  width: 38px;
  height: 36px;
  text-align: center;
}
.in__label-text,
.out__label-text,
.older__label-numbers,
.kids__label-numbers {
  border:0px;
  background-color:#f2f2f2;
  margin-bottom:29px;
  font-family: "PT Sans","Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
}
.kids__label-numbers {
  height: 36px;
}
.older__label-numbers {
  height: 36px;
}
.in__label-text:hover + .in__img,
.out__label-text:hover + .out__img,
.older__label-numbers:hover,
.kids__label-numbers:hover {
  background-color: #ebebeb;
  fill:black;
}
.older__label-numbers:focus,
.kids__label-numbers:focus {
  background-color: #ffffff;
  border:2px solid #e5e5e5;
  outline: none;
  width: 34px;
  height: 32px;
}
.in__label-text:focus,
.out__label-text:focus
{
  background-color: #ffffff;
  border:2px solid #e5e5e5;
  outline: none;
  display: block;
  height: 34px
}
.out__img,
.in__img {
  top:7px;
  position: absolute;
  fill:#cacaca;
  left:94%;
}
.out__img:hover,
.in__img:hover {
  fill:black;
}
.out__img:active,
.in__img:active {
  fill:#81b3d2;
}
.older__number-minus,
.older__number-plus,
.kids__number-minus,
.kids__number-plus {
  border: 0px;
  background-color: #f2f2f2;
  color:#818181;
  cursor: pointer;
}
.older__svg-minus,
.older__svg-plus,
.kids__svg-minus,
.kids__svg-plus {
  fill:#818181;
  vertical-align: middle;
}
.older__svg-minus:hover,
.older__svg-plus:hover,
.kids__svg-minus:hover,
.kids__svg-plus:hover {
  fill:black;
}
.older__svg-minus:active,
.older__svg-plus:active,
.kids__svg-minus:active,
.kids__svg-plus:active {
  fill:#81b3d2;
}
.catalog__btn {
  font-size:21px;
  line-height: 26px;
  color:white;
  background-color:#81b3d2;
  text-decoration: none;
  width: 458px;
  padding-top: 17px;
  padding-bottom: 17px;
  display: block;
  text-align: center;
    -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  font-family: "PT Sans","Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}
.catalog__btn:hover {
  background-color: #669ec0;
}
.catalog__btn:active {
  background-color: #5496bd;
  color:#9bc2d8;
}
.info__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
  justify-content: center;
  margin-top:40px;
}
.developer__text {
  font-size:14px;
  line-height: 26px;
  color:black;
  font-family: "PT Sans","Arial", sans-serif;
  font-weight: 800;
  padding-bottom: 5px;
}

.search {
  position: relative;
  margin: 0 auto;
  width: 568px;
}

.search__map {
  background: url("../img/map.jpg") no-repeat;
  height: 593px;
}

.travel__map-hide {
  background: none;
}
.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.1px solid #cacaca;
  padding: 28px 6%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
  justify-content: space-between;
}
.hotel__info {
  margin-left:30px;
}
.rating-stars  {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 94px;
  justify-content: space-between;
}
.right-column__stars {
  text-align: right;
}
.hotel-content {
  display: flex;
}
.right-column__img {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.filters {
  background: #9eb5ca url("../img/filters-hotel.jpg") no-repeat;
  display: flex;
  min-height: 217px;
  align-items: center;
  padding: 0 6%;
  justify-content: space-between;
}
.filtration__prices {
  width: 320px;
  margin-left: 350px;
}
.content-catalog {
  width: 1200px;
}
.filters__visually-hidden,
.main__visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
fieldset {
  border: 0px;
  margin-top: -35px;
  margin-left: 0;
  padding-left: 0;
}
.house {
  width: 367px;
  text-align: left;
}
.filter__checkbox:not(checked),
.house__checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.filter__checkbox:not(checked) + .filter__text,
.filter__checkbox:checked + .filter__text,
.house__checkbox:not(checked) + .filter__text,
.house__checkbox:checked + .filter__text {
  position: relative;
  padding: 0 0 0 38px;
  cursor: pointer;
}
.house__checkbox:not(checked) + .filter__text,
.house__checkbox:checked + .filter__text {
  padding-left:38px;
}
.filter__checkbox:not(checked) + .filter__text:before,
.house__checkbox:not(checked) + .filter__text:before {
  background: url("../img/checkbox-off.svg") no-repeat;
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
}
.filter__checkbox:checked + .filter__text:before,
.house__checkbox:checked + .filter__text:before {
  background: url("../img/checkbox-on.svg") no-repeat;
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  padding: 25px;
}
.check input[type="checkbox"]:focus + .filter__text {
  outline: 1px solid rgb(77, 144, 254);
  outline-offset: 8px;
}
.filter__checkbox,
.house__checkbox {
  opacity: 0.5;
}
.nav {
  font-size:14px;
  color:black;
}
legend,
.prices__title {
  font-size: 16px;
  line-height: 21px;
  color:white;
}
.prices__wrapper {
  width: 320px;
}
.filter__item {
  font-size: 14px;
  line-height: 21px;
  color:white;
  margin-bottom: 23px;
}
.house__item {
  font-size: 14px;
  line-height: 21px;
  color:white;
  margin-bottom: 23px;
}
.house__list,
.filter__list {
  padding-top: 10px;
}

.house__list {
  padding-left: 0;
  margin-left: 0;
}
.filter__title {
  padding-top: 40px;
  font-weight: bold;
  font-size: 16px;
}
.filter__list {
  padding-left: 0;
}

.wrapper__of,
.wrapper__until {
  font-size:14px;
  line-height: 21px;
  color:white;
}
.prices__btn {
  font-size:14px;
  line-height: 21px;
  color:white;
  border: 2px solid white;
  display: block;
  width: 133px;
  height: 32px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 5px;
}
.prices__btn:hover {
  color:black;
  background-color: white;
}
.search-results {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cacaca;
  padding: 0 6%;
  margin-top: 18px;
  padding: 0 6%;
  padding-bottom: 19px;
}
.search-results-left {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: black;
  padding-bottom: 5px;
  margin: 0 auto;
  white-space: nowrap;
}

.search-results-center {
  display: flex;
  align-items: center;
  margin-left: 50px;
  width: 100%;
  vertical-align: middle;
}
.search__list {
 font-size: 12px;
  display: flex;
  padding-left: 35px;
  padding-bottom: 2px;
  padding-left: 30px;
}
.search:nth-child(2) {
  padding-left: 20px;
}
.search:nth-child(3) {
  padding-left: 19px;
}
.search-results-center p {
  font-family: "PT Sans",Arial,sans-serif;
  color: black;
  font-weight: 800;
  padding-top: 1px;
}
.search-results-center p,
.sort__link {
  font-size:12px;
  line-height: 18px;
  text-transform: uppercase;
}
.sort__link:active {
  font-size: 12px;
  line-height: 18px;
  border: 0px solid;
  background-color:white;
  color:black;
  text-decoration: none;
}
.sort__link:hover {
  font-size: 12px;
  line-height: 18px;
  background-color:white;
  -webkit-text-decoration: underline dotted #81b3d2;
  text-decoration: underline dotted #81b3d2;
  color:#81b3d2;
}
.sort__link {
  font-size: 12px;
  line-height: 18px;
  border: 0px solid;
  background-color:white;
  color:#cacaca;
  text-decoration: underline dotted #81b3d2;
  font-family: "PT Sans","Arial", sans-serif;
  cursor: pointer;
}
.sort__link-active {
  font-size: 12px;
  line-height: 18px;
  border: 0px solid;
  background-color:white;
  color:#81b3d2;
  text-decoration: none;
}
.hotel-btn {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}
.info__header {
  font-size:21px;
  line-height: 26px;
  color:black;
}
.link-title {
  color: black;
  margin: 0;
  height: 16px;
  margin-top: -4px;
  margin-bottom: 8px;
  height: 100%;
  max-width: 257px;
}
.link-title:hover {
  color:#81b3d2;
}
.link-title:active {
  color:#818181;
}
.type {
  font-size:14px;
  line-height: 21px;
  color:#333333;
  margin: 0;
  padding-bottom: 14px;
  width: 110px;
}
.info__text-right{
  margin-right: 79px;
  width: 110px;
}
.info__link-btn {
  font-size:14px;
  line-height: 21px;
  color:white;
  background-color:#81b3d2;
  border:0px;
  text-decoration: none;
  width: 110px;
    height: 100%;
  box-sizing: border-box;;
  text-align: center;
  display: block;
  padding-top: 4px;
  padding-bottom: 3px;
  font-family: "PT Sans","Arial", sans-serif;
  font-weight: 800;
}
.info__link-btn:hover {
  background-color: #669ec0;
}
.info__link-btn:active {
  background-color: #5496bd;
  color:#818181;
}
.reservation__btn {
  font-size: 14px;
  line-height: 21px;
  color: white;
  border: 0px;
  width: 142px;
  text-transform: uppercase;
  font-family: "PT Sans","Arial", sans-serif;
  background-color: #766357;
  font-weight: 800;
  padding-top: 3px;
  padding-bottom: 3px;
  min-height: 27px;
  cursor: pointer;
}
.reservation__btn:hover {
  background-color: #604e43;
}
.reservation__btn:active {
  background-color: #503e33;
  color:#818181;
}
.rating-numbers {
  font-size: 14px;
  line-height: 21px;
  color: rgb(102, 102, 102);
  background-color: #fafafa;
  text-align: center;
  box-sizing: border-box;
  margin:0;
  padding: 5px;
}
.hoter__right-wrapper {
  position: relative;
}
.nav__page {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-direction: row;
}
.page--active {
  fill:#81b3d2;
}
.page__up,
.page__down {
  background-color: white;
  border:0px solid;
  padding: 0;
  margin-left: 10px;
  width: 12px;
  cursor: pointer;
}
.page__img--current {
  fill: #cacaca;
}
.page__img--current:hover,
.page__img--pending:hover {
  fill:#000000;
}
.page__img--current:active,
.page__img--pending:active {
  fill:#81b3d2;
}
.main-footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 120px;
  background: rgba(255, 255, 255, 0.9);
  align-items: center;
  display: flex;
}
.inner {
 position: static;
 width: auto;
}
.tag {
  width: 33.3333%;
}
.tag__link {
  font-size:21px;
  line-height: 26px;
  color:black;
  margin-left: 133px;
}
.social {
  display: flex;
  width: 33.3333%;
  justify-content: center;
}
.fb__link {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 5px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 12px;
}
.tw__link,
.yb__link {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 5px;
  text-align: center;
    -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 15px;
}
.social__svg {
  fill:#FFF;
}
.social__link:hover {
  background-color:#669ec0;
}
.social__link:active {
  background-color: #5496bd;
}
.social__svg:active {
  opacity: 0.3;
}
.developer {
  display: flex;
  align-items: center;
  width: 33.3333%;
  justify-content: center;
}
.developer__img {
  width: 115px;
  height: 41px;
  margin-left:5px;
  fill:#000000;
}
.developer__link {
  padding-top: 5px;
}
.developer__img:hover {
  fill:#81b3d2;
}
.developer__img:active {
  fill:#bdbbbc;
}
