body {
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  background: #f2f2f2;
  font-size: 14px;
  line-height: 21px;
}

.wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 5px 0px #34495e;
  background-color: #ffffff;
}

li {
  list-style: none;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 1;
  width: 138px;
  transform: translate(-50%);
  height: 70px;
}

.main-header {
  height: 56px;
}

.main-navigation {
  position: relative;
}

.nav-list {
  display: flex;
  height: 55px;
  width: 1200px;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 26px;
}

.nav-item {
  width: 20%;
  padding-top: 22px;
  padding-bottom: 24px;
}

.nav-item-first {
  text-align: left;
  margin-left: 6%;
}

.nav-item-second {
  text-align: left;
}

.nav-item:nth-child(3) {
  text-align: right;
  margin-left: auto;
}

.nav-item:nth-child(4) {
  text-align: right;
  margin-right: 6%;
}

.nav-link:hover {
  color: #81b3d2;
}

.nav-link:active {
  color: #818181;
}

.nav-link {
  color: black;
}

.nav-link-active {
  color: rgb(118, 99, 87);
}

.filter-range {
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 7px;
  margin-bottom: 5px;
  margin-left: auto;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  height: 32px;
  width: 314px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  position: relative;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  ;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price, .price-controls .max-price {
  width: 90px;
  padding-left: 60px;
  padding-top: 8px;
  line-height: 21px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  line-height: 21px;
  color: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: 0px 2px 1px 0px rgba(0, 1, 1, 0.2);
  cursor: pointer;
  background: #ababab;
  border: 8px solid #ffffff;
}

.range-toggle-min {
  left: 0;
}

.btn-transparent {
  display: block;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  width: 132px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 87px;
  text-align: center;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
  border-width: 9px;
}

.header-background-logo {
  position: relative;
  background: #c0d6e4 url("../img/welcome-sedona.jpg") no-repeat center;
  width: 100%;
  height: 510px;
  background-size: cover;
}

.header-background-logo::after {
  content: '';
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  height: 57px;
  background: transparent url('../img/zigzag.png') no-repeat 0 50%;
  background-size: 100% 57px;
}

.header-background-logo img {
  position: relative;
  top: 76px;
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.reasons-header {
  padding: 0;
  padding-top: 56px;
  padding-bottom: 51px;
  margin-left: auto;
  margin-right: auto;
  width: 576px;
  text-align: center;
}

.reasons-title {
  font-size: 21px;
  line-height: 26px;
  color: black;
  margin: 0;
  text-align: center;
}

.reasons-header p {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: normal;
  margin: 0;
  margin-top: 28px;
}

.reason-row {
  display: flex;
  padding: 0;
  flex-direction: row;
}

.reason {
  line-height: 21px;
  background-color: #81b3d2;
  text-align: center;
  width: 400px;
  box-sizing: border-box;
  padding-top: 48px;
  padding-bottom: 30px;
}

.reason p {
  padding-left: 48px;
  padding-right: 50px;
  margin-top: 25px;
}

.reason-picture {
  height: 256px;
  width: 800px;
  background-size: cover;
}

.reason-number {
  margin-top: 22px;
}

.reason-row-title {
  font-size: 21px;
  color: white;
  text-align: center;
  padding-left: 127px;
  padding-right: 119px;
  margin-top: 0;
}

.reason-icon {
  line-height: 21px;
  background-color: white;
  text-align: center;
  width: 400px;
  padding-top: 60px;
  padding-bottom: 69px;
}

.icon-souvenir {
  background: url("../img/icon-2.svg") no-repeat center;
  height: 74px;
}

.icon-housing {
  background: url("../img/icon-1.svg") no-repeat center;
  height: 74px;
}

.icon-food {
  background: url("../img/icon-3.svg") no-repeat center;
  height: 74px;
}

.reason-title {
  font-size: 21px;
  color: black;
  padding-top: 10px;
}

.reason-text {
  font-size: 14px;
  color: #333333;
  font-weight: normal;
  padding-left: 48px;
  padding-right: 50px;
  padding-top: 3px;
}

.reason-row-gray {
  line-height: 21px;
  text-align: center;
  display: flex;
  background-color: rgb(241, 241, 241);
  min-height: 256px;
}

.reason-gray {
  padding-top: 46px;
  padding-bottom: 30px;
  width: 400px;
}

.reason-row-gray .reason-number {
  color: black;
}

.reason-gray-title {
  font-size: 21px;
  color: black;
  width: 30%;
  margin: 0 auto;
  margin-top: 0;
}

.reason-gray-desc {
  font-size: 14px;
  color: #333333;
  font-weight: normal;
  padding-left: 70px;
  padding-right: 68px;
  margin-top: 25px;
  margin-bottom: 18px;
}

.search-title {
  font-size: 30px;
  color: black;
  line-height: 36px;
  margin-top: 19px;
}

.search-desc {
  font-size: 14px;
  color: #333333;
  line-height: 24px;
  font-weight: normal;
  margin-bottom: 45px;
}

.search_travel {
  font-size: 21px;
  line-height: 26px;
  color: black;
  text-align: center;
  padding-top: 28px;
  /*padding-bottom: 38px;*/
}

.search-btn {
  font-size: 21px;
  line-height: 26px;
  color: white;
  background: #766357;
  width: 568px;
  min-height: 86px;
  text-transform: uppercase;
  border: 0px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  left: 50%;
}

.search-btn:hover {
  background: #604e43;
}

.search-btn:active {
  background: #503e33;
  color: #818181;
}

.search-hotels {
  position: relative;
  margin: 0 auto;
  padding-top: 30px;
  width: 568px;
  text-align: center;
}

.search-hotels h2 {
  margin-bottom: 32px;
  font-size: 30px;
  line-height: 24px;
}

.search-hotels p {
  padding: 0 65px;
  line-height: 24px;
}

.search-hotels .btn {
  margin-top: 32px;
  padding: 30px 0;
  width: 100%;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
}

.search-form {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 55px 55px;
  box-sizing: border-box;
  text-align: left;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0px rgba(0, 1, 1, 0.15);
}

.search-form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.search-form-row label, .search-form-row input {
  display: block;
}

.search-form-row label {
  width: 112px;
  color: black;
  font-weight: bold;
}

.search-form-row input {
  padding: 0;
  height: 38px;
  border: none;
  box-sizing: border-box;
  font: inherit;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.search-form-row input:hover {
  background-color: #ebebeb;
}

.search-form-row input:focus {
  background-color: #ffffff;
  outline-color: #e5e5e5;
}

.wrapper-date input {
  padding-left: 13px;
  padding-right: 44px;
  width: 345px;
}

.search-form-quantity input {
  width: 38px;
  text-align: center;
}

.search-form button {
  border: none;
}

.wrapper-date {
  position: relative;
}

.calendar-btn {
  position: absolute;
  top: 7px;
  right: 8px;
  background-color: #f2f2f2;
  outline-color: #e5e5e5;
  opacity: 0.3;
}

.calendar-btn:hover {
  opacity: 1;
}

.calendar-btn:active svg {
  fill: #81b3d2;
}

.search-form-quantity {
  display: flex;
  align-items: center;
}

.search-form-quantity label[for="quantity-children"] {
  width: 65px;
}

.search-form-quantity button {
  display: block;
  width: 38px;
  height: 38px;
  font: inherit;
  font-size: 24px;
  color: #a9a9a9;
  background-color: #f2f2f2;
  cursor: pointer;
}

.search-form-quantity button:hover {
  color: #000000;
}

.search-form-quantity button:active {
  color: #81b3d2;
}

.search-form-quantity button:focus {
  outline-color: #e5e5e5;
}

.catalog-btn {
  font-size: 21px;
  line-height: 26px;
  color: white;
  background-color: #81b3d2;
  text-decoration: none;
  width: 458px;
  padding-top: 17px;
  padding-bottom: 17px;
  display: block;
  text-align: center;
  box-sizing: border-box;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-btn:hover {
  background-color: #669ec0;
}

.catalog-btn:active {
  background-color: #5496bd;
  color: #9bc2d8;
}

.info-catalog {
  display: flex;
  justify-content: center;
  padding-top: 27px;
}

.developer-text {
  font-size: 14px;
  line-height: 26px;
  color: black;
  font-family: "PT Sans", "Arial", sans-serif;
  padding-bottom: 5px;
}

.search {
  position: relative;
  margin: 0 auto;
  width: 568px;
  font-weight: bold;
  line-height: 26px;
}

.search-map {
  background: url("../img/map.png") no-repeat;
  height: 593px;
}

.hotel {
  display: flex;
  border-bottom: 0.1px solid #cacaca;
  padding: 28px 6%;
  justify-content: space-between;
}

.hotel-info {
  margin-left: 30px;
}

.rating-stars {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 94px;
  justify-content: space-between;
}

.right-column-stars {
  text-align: right;
}

.hotel-content {
  display: flex;
}

.filters {
  background: #9eb5ca url("../img/filters-hotel.jpg") no-repeat;
  display: flex;
  min-height: 217px;
  align-items: center;
  padding: 0 6%;
}

.filter-options {
  width: 255px;
  padding-top: 7px;
}

.content-catalog {
  width: 1200px;
}

.filters-visually-hidden, .main-visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

fieldset {
  border: 0px;
  margin-left: 0;
  padding-left: 0;
}

.house {
  width: 367px;
  text-align: left;
  padding-top: 8px;
}

.filter-checkbox:not(checked), .house-checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}

.filter-checkbox:not(checked)+.filter-text, .filter-checkbox:checked+.filter-text, .house-checkbox:not(checked)+.filter-text, .house-checkbox:checked+.filter-text {
  position: relative;
  padding: 0 0 0 38px;
  cursor: pointer;
}

.house-checkbox:not(checked)+.filter-text, .house-checkbox:checked+.filter-text {
  padding-left: 38px;
}

.filter-checkbox:not(checked)+.filter-text:before, .house-checkbox:not(checked)+.filter-text:before {
  background: url("../img/checkbox-off.svg") no-repeat;
  content: '';
  position: absolute;
  left: 0;
  width: 50px;
  height: 26px;
}

.filter-checkbox:checked+.filter-text:before, .house-checkbox:checked+.filter-text:before {
  background: url("../img/checkbox-on.svg") no-repeat;
  content: '';
  position: absolute;
  left: 0;
  width: 50px;
  height: 26px;
}

.check input[type="checkbox"]:focus+.filter-text {
  outline: 1px solid rgb(77, 144, 254);
  outline-offset: 8px;
}

.filter-checkbox, .house-checkbox {
  opacity: 0.5;
}

.nav {
  font-size: 14px;
  color: black;
}

.filter-item {
  font-size: 14px;
  line-height: 21px;
  color: white;
  margin-bottom: 23px;
}

.house-item {
  font-size: 14px;
  line-height: 21px;
  color: white;
  margin-bottom: 23px;
}

.house-list, .filter-list {
  padding-top: 10px;
}

.house-list {
  padding-left: 0;
  margin-left: 0;
}

.filter-title {
  font-weight: bold;
  font-size: 16px;
}

.filter-list {
  padding-left: 0;
}

.search-results {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 6%;
  margin-top: 18px;
  padding: 0 6%;
  padding-bottom: 19px;
}

.search-results-left {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: black;
  margin: 0 auto;
  white-space: nowrap;
  padding-right: 3px;
}

.search-results-center {
  display: flex;
  align-items: center;
  margin-left: 50px;
  width: 100%;
  vertical-align: middle;
}

.search-list {
  font-size: 12px;
  display: flex;
  padding-top: 4px;
  padding-left: 30px;
}

.search:nth-child(2) {
  padding-left: 20px;
}

.search:nth-child(3) {
  padding-left: 19px;
}

.search-results-center p {
  font-family: "PT Sans", Arial, sans-serif;
  color: black;
  margin-top: 18px;
}

.search-results-center p, .sort-link {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-link:active {
  font-size: 12px;
  line-height: 18px;
  border: 0px solid;
  background-color: white;
  color: black;
  text-decoration: none;
}

.sort-link:hover {
  font-size: 12px;
  line-height: 18px;
  background-color: white;
  text-decoration: underline dotted #81b3d2;
  color: #81b3d2;
}

.sort-link {
  font-size: 12px;
  line-height: 18px;
  border: 0px solid;
  background-color: white;
  color: #cacaca;
  text-decoration: underline dotted #81b3d2;
  font-family: "PT Sans", "Arial", sans-serif;
  cursor: pointer;
  padding-right: 29px;
}

.sort-link-active {
  font-size: 12px;
  line-height: 18px;
  border: 0px solid;
  background-color: white;
  color: #81b3d2;
  text-decoration: none;
  padding-right: 26px;
}

.hotel-btn {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.info-header {
  font-size: 21px;
  line-height: 26px;
  color: black;
}

.link-title {
  color: black;
  margin: 0;
  height: 16px;
  margin-bottom: 8px;
  height: 100%;
  max-width: 257px;
  font-weight: bold;
}

.link-title:hover {
  color: #81b3d2;
}

.link-title:active {
  color: #818181;
}

.type {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding-top: 4px;
  padding-bottom: 14px;
  width: 110px;
}

.info-text-right {
  margin-right: 79px;
  width: 110px;
}

.info-link-btn {
  font-size: 14px;
  line-height: 21px;
  color: white;
  background-color: #81b3d2;
  border: 0px;
  text-decoration: none;
  width: 110px;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  display: block;
  padding-top: 4px;
  padding-bottom: 3px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 800;
}

.info-link-btn:hover {
  background-color: #669ec0;
}

.info-link-btn:active {
  background-color: #5496bd;
  color: #818181;
}

.reservation-btn {
  font-size: 14px;
  line-height: 21px;
  color: white;
  border: 0px;
  width: 142px;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #766357;
  font-weight: 800;
  padding-top: 3px;
  padding-bottom: 3px;
  min-height: 27px;
  cursor: pointer;
}

.reservation-btn:hover {
  background-color: #604e43;
}

.reservation-btn:active {
  background-color: #503e33;
  color: #818181;
}

.rating-numbers {
  font-size: 14px;
  line-height: 21px;
  color: rgb(102, 102, 102);
  background-color: #fafafa;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding-bottom: 6px;
  padding-left: 9px;
}

.hotel-right-wrapper {
  position: relative;
}

.nav-page {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-direction: row;
}

.page-active {
  fill: #81b3d2;
}

.page-up, .page-down {
  background-color: white;
  border: 0px solid;
  padding: 0;
  margin-left: 10px;
  width: 12px;
  cursor: pointer;
}

.page-img-current {
  fill: #cacaca;
}

.page-img-current:hover, .page-img-pending:hover {
  fill: #000000;
}

.page-img-current:active, .page-img-pending:active {
  fill: #81b3d2;
}

.main-footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 120px;
  background: rgba(255, 255, 255, 0.9);
  align-items: center;
  display: flex;
}

.inner {
  position: static;
  width: auto;
}

.tag {
  width: 33.3333%;
}

.tag-link {
  font-size: 21px;
  line-height: 26px;
  color: black;
  margin-left: 133px;
  font-weight: bold;
}

.social {
  display: flex;
  width: 33.3333%;
  justify-content: center;
}

.fb-link {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 5px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 12px;
}

.tw-link, .yb-link {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 5px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 15px;
}

.social-link:hover {
  background-color: #669ec0;
}

.social-link:active {
  background-color: #5496bd;
}

.social-svg {
  fill: #FFF;
}

.social-svg:active {
  opacity: 0.3;
}

.developer {
  display: flex;
  align-items: center;
  width: 33.3333%;
  justify-content: center;
}

.developer-link {
  padding-top: 5px;
}

.developer-img {
  width: 115px;
  height: 41px;
  margin-left: 5px;
  fill: #000000;
}

.developer-img:hover {
  fill: #81b3d2;
}

.developer-img:active {
  fill: #bdbbbc;
}
