body {
 font-size: 14px;
 line-height: 21px;
 font-family: 'PT Sans', Arial, sans-serif;
 text-transform: uppercase;
 color: #333;
 background: #f2f2f2;
}

.wrapper {
 max-width: 1200px;
 min-width: 768px;
 margin: 0 auto;
 background: #fff;
 box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, .2);
}

/*  стилизация шапки сайта */

.main-header {
 position: relative;
 background: #fff;
}

.main-header .logo {
 position: absolute;
 margin: 0 auto;
 width: 138px;
 height: 70px;
 line-height: 0;
 color: transparent;
 background: transparent url('img/logo.png') no-repeat 0 0;
 z-index: 1;
}

.nav__list {
 display: flex;
 height: 55px;
 width: 1200px;
 align-items: center;
 z-index: 0;
 list-style:none;
 margin: 0;
 padding: 0;
}

.nav__item {
  width: 240px;
  padding-left: 0;
}

.nav__item:first-child {
  margin-left: 72px;
}

.nav__item:nth-child(4) {
  margin-right: 72px;
  text-align: right;
}

.nav__item:nth-child(2) {
  text-align: left;
}

.nav__item:nth-child(3) {
  text-align: right;
  margin-left: auto;
}

a {
 text-decoration: none;
}

.main-navigation a {
 font-size: 14px;
 font-weight: bold;
 text-align: center;
 /*text-decoration: none;*/
 color: #000;
}

.main-navigation a:hover {
 color: #7c9bbd;
}

.main-navigation a:active {
 color: #000;
}

.main-navigation .active {
 color: #766357;
}

.main-navigation .active:hover {
 color: #604e43;
}

.main-navigation .active:active {
 color: #766357;
}

/*стили для главной страницы*/

.promo {
 position: relative;
 height: 431px;
 padding-top: 77px;
 background: #d9eaf2 url("img/welcome-sedona.jpg") no-repeat;
 background-size: cover;
}

.promo img {
 display: block;
 width: 458px;
 height: 352px;
 margin: 0 auto;
}

.reasons-header {
 width: 576px;
 margin: 0 auto;
 padding-top: 60px;
 padding-bottom: 51px;
 background-color: white;
 text-align: center;
}

.reasons-header h1 {
 margin: 0;
 padding: 0;
 padding-bottom: 17px;
 font-weight: bold;
 font-size: 21px;
 line-height: 26px;
 color: #000000;
}

.reason-row h2, .reason-row p {
 margin: 0;
 padding: 0;
}

.reason-row {
 display: flex;
 padding-top: 3px;
 min-height: 330px;
 background-color: white;
 text-align: center;
}

.reason-picture, .reason {
 vertical-align: top;
}

.reason {
 /*box-sizing: border-box;*/
 width: 400px;
 padding-right: 72px;
 padding-left: 72px;
 font-size: 14px;
 line-height: 21px;
 padding-top: 39px;
}

.reason-row h2 {
 width: 166px;
 margin: 0 auto;
 padding-bottom: 22px;
 font-weight: bold;
 font-size: 21px;
 color: #000000;
}

.reason-picture {
 width: 800px;
 overflow: hidden;
}

.reason-row-image {
 min-height: 256px;
 overflow: hidden;
 color: white;
 background-color: #81b3d2;
}

.reason-row-image h2 {
 padding-top: 53px;
 color: white;
}

.reason-row-gray {
 line-height: 21px;
 text-align: center;
 display: flex;
 background-color: rgb(241, 241, 241);
 min-height: 256px;
}

.reason-row-gray h2 {
 padding-top: 46px;
 background-color: #eeeeee;
}

.reason-number {
 padding-bottom: 21px;
}

.reason-icon {
 position: relative;
 padding-top: 160px;
}

.reason-image-home:before {
 width: 76px;
 height: 76px;
 background-position: -179px 0;
}

.search {
 width: 568px;
 margin: 0 auto;
 line-height: 24px;
 text-align: center;
 background-color: white;
}

.search h2 {
 display: flex;
 flex-direction: column;
 align-items: center;
 position: relative;
 font-weight: bold;
 font-size: 30px;
 line-height: 24px;
 color: #000000;
}

.search a {
 width: 568px;
 margin-top: 47px;
 padding-top: 30px;
 padding-bottom: 30px;
 font-weight: bold;
 font-size: 21px;
 color: white;
 text-decoration: none;
 background-color: #766357;
}

.search a:hover {
 background-color: #604e43;
}

.search a:active {
 color: rgba(0, 0, 0, 0.3);
 background-color: #503e33;
}

/*стилизация подвала сайта*/

.form {
 height: 400px;
 width: 576px;
 background: #e2e7d0 url("img/map.jpg") no-repeat;
 font-weight: bold;
 font-size: 14px;
 text-align: right;
 color: black;
 background: white;
}

.form-row {
 position: relative;
 margin: 0;
 margin-bottom: 30px;
 padding: 0;
 border: none;
 font-weight: bold;
 text-align: center;
}

.form .form-label {
 display: inline-block;
 vertical-align: top;
 width: 115px;
 font-size: 14px;
 line-height: 41px;
}

.form .form-input {
 display: inline-block;
 vertical-align: top;
}

.form-input-date {
 width: 343px;
 height: 41px;
 padding-right: 38px;
 background-color: #f2f2f2;
}

.icon-calendar {
 position: absolute;
 right: 0;
 top: 0;
 color: #a9a9a9;
}

.icon-calendar::before {
 width: 38px;
 margin: 0;
 font-size: 21px;
 line-height: 38px;
 text-align: center;
}

.form-input-date:hover+.icon-calendar {
 color: #000;
}

.form-input-date:focus+.icon-calendar {
 color: #81b3d2;
}

.counter {
 display: inline-block;
 vertical-align: top;
 margin: 0;
 padding: 0;
 border: none;
}

.form-input-counter {
 width: 38px;
 padding: 8px 0;
 text-align: center;
}

.counter button {
 display: inline-block;
 vertical-align: top;
 padding: 0;
 border: none;
 outline: none;
 color: #a9a9a9;
 background: #f2f2f2;
}

.counter button::before {
 display: block;
 width: 38px;
 margin: 0;
 font-size: 14px;
 line-height: 38px;
 text-align: center;
}

.counter .form-label[for='counter-children'] {
 width: 65px;
 margin-left: 50px;
}

input.booking-calendar[type="text"] {
 width: 281px;
 margin-bottom: 20px;
 margin-left: 20px;
 padding: 4px 15px;
 padding-right: 40px;
 font-weight: bold;
 font-size: 14px;
 line-height: 26px;
 font-family: "PT Sans", "Arial", sans-serif;
 color: black;
 text-transform: uppercase;
 background: #f2f2f2;
 border: 2px solid #f2f2f2;
 outline: none;
}

.icon-calendar {
 position: absolute;
 left: 480px;
 margin: 0;
 margin-top: 5px;
 padding: 0;
 font-size: 20px;
 color: #c2c2c2;
}

.icon-calendar:hover {
 color: black;
}

.icon-calendar:active {
 color: #81b3d2;
}

.input-line {
 margin-bottom: 10px;
}

.booking-calendar-minus-plus {
 display: inline-block;
 margin-left: 27px;
 vertical-align: middle;
 background: #f2f2f2;
}

.input-line-adults {
 display: inline-block;
 padding-right: 38px;
}

.input-line-adults .booking-calendar-minus-plus {
 margin-left: 39px;
}


input.booking-calendar-select[type="text"] {
 width: 26px;
 padding: 5px 1px;
 font-weight: bold;
 font-size: 14px;
 line-height: 26px;
 font-family: "PT Sans", "Arial", sans-serif;
 vertical-align: middle;
 text-align: center;
 color: black;
 text-transform: uppercase;
 background: #f2f2f2;
 border: 2px solid #f2f2f2;
 outline: none;
}

input.booking-calendar:focus, input.booking-calendar-select:focus, input.booking-calendar:focus:hover, input.booking-calendar-select:focus:hover {
 background: white;
 border: 2px solid #e5e5e5;
}

input.booking-calendar:hover, input.booking-calendar-select:hover {
 background: #ebebeb;
}

.btn-search {
 display: block;
 margin-top: 54px;
 padding: 15px 196px;
 font-weight: bold;
 font-size: 21px;
 text-align: center;
 border: none;
 outline: none;
 cursor: pointer;
}

.main-footer {
 display: flex;
 height: 120px;
 width: 100%;
 justify-content: space-between;
}

.footer-hashtag {
 padding: 17px 0;
 width: 400px;
 text-align: center;
}

.footer-hashtag a {
 font-size: 21px;
 line-height: 26px;
 font-weight: bold;
 text-decoration: none;
}

.footer-hashtag a {
 color: #000;
}

.footer-hashtag a:hover {
 color: #81b3d2;
}

.footer-hashtag a:active {
 color: #000;
 opacity: .3;
}

.footer-socials {
 width: 400px;
 justify-content: center;
}

.footer-socials ul {
 margin: 0;
 padding: 0;
 list-style: none;
}

.footer-socials li {
 display: inline-block;
 vertical-align: top;
 margin: 6px 3px;
}

.btn-social {
 display: block;
 width: 46px;
 height: 48px;
 padding: 0;
 line-height: 0;
}

.btn-social::before {
 font-size: 20px;
 line-height: 48px;
}

.footer-copyright {
 padding: 6px 0;
 width: 400px;
 justify-content: center;
}

/*.logo-htmlacademy {
 width: 113px;
 height: 39px;
 margin: 4px 8px;
 text-decoration: none;
}

.logo-htmlacademy:hover {
 background-position: 50% -99px;
}

.logo-htmlacademy:active {
 background-position: 50% 0;
}*/

/*Страница поиска отелей*/
.filters {
 display: flex;
 padding-bottom: 30px;
 padding-top: 26px;
 color: white;
 background: #766357 url("img/filter-hotels.jpg") no-repeat;
 background-size: cover;
 height: 217px;
 padding-left: 72px;
 padding-right: 72px;
}

.filter-options {
 display: flex;
 width: 600px;
}
.filter-options ul, .filter-house ul {
 list-style: none;
}

.filter-house {
 justify-content: center;
 margin: 0;
 width: 288px;
 height: 240px;
}

.filter-cost {
margin-left: auto;
width: 360px;
}


.filters input[type="checkbox"] {
 display: none;
}

.filters input[type="checkbox"]+label {
 font-size: 14px;
 cursor: pointer;
}

.filters input[type="checkbox"]+label:before {
 content: "\2610";
 display: inline-block;
 width: 40px;
 font-size: 24px;
 font-family: "symbols-sedona";
 vertical-align: middle;
 color: white;
 opacity: 0.7;
}

.filters input[type="checkbox"]+label:hover:before {
 opacity: 1;
}

.filters input[type="checkbox"]:checked+label:before {
 content: "\2611";
}

.filters input[type="checkbox"]:disabled+label:before {
 opacity: 0.3;
}

.filter-checkbox {
 margin-top: 12px;
}
/*
.price-frame {
 box-sizing: border-box;
 width: 98%;
 padding: 5px 0;
 text-align: center;
 border: 2px solid white;
 border-radius: 3px;
}

.price-frame-input {
 display: inline-block;
 width: 47%;
 vertical-align: middle;
}

.price-frame-input-line {
 display: inline-block;
 width: 2px;
 height: 22px;
 vertical-align: middle;
 background: white;
}

.price-frame input {
 width: 40px;
 margin: 0;
 padding: 0;
 color: white;
 background: none;
 border: none;
 outline: none;
}

.price-frame, .range-controls {
 margin-left: 2%;
}

.range-controls {
 position: relative;
 width: 98%;
 padding-top: 20px;
 padding-bottom: 32px;
}

.range-controls .scale {
 height: 2px;
 background: rgba(255, 255, 255, 0.3);
}

.scale .bar {
 width: 73%;
 height: 2px;
 background: white;
}

.toggle {
 position: absolute;
 top: 10px;
 width: 4px;
 height: 4px;
 background: #ababab;
 border: 8px solid white;
 border-radius: 50%;
 cursor: pointer;
 cursor: pointer;
}

.max-toggle {
 left: 73%;
}

.toggle:hover {
 background: #1c4f80;
}*/

.btn-transparent {
 display: block;
 width: 63px;
 margin: 0 auto;
 padding: 6px 35px;
 font-size: 14px;
 text-align: center;
 color: white;
 text-transform: uppercase;
 text-decoration: none;
 background: none;
 border: 2px solid white;
 outline: none;
}

.search-results, .hotel {
 display: flex;
 padding: 0 72px;
 margin-top: 18px;
 padding-left: 72px;
 padding-bottom: 19px;
 border-bottom: 2px solid #e5e5e5;
 align-items: center;
 justify-content: space-between;
}

.search-results {
 height: 83px;
}

.search-results-left {
 width: 150px;
 font-weight: 800;
 font-size: 26px;
 line-height: 18px;
 text-transform: uppercase;
}

.hotel-content {
 justify-content: flex-start;
}

.hotel-btn {
 justify-content: flex-start;
 min-width: 110px;
 max-width: 142px;
 margin-top: 8px;
 margin-right: 6px;
}

.search-results-center, .hotel-content {
 flex-grow: 1;
}

.search-results-center ul {
 display: flex;
 padding-bottom: 2px;
 padding-left: 30px;
 margin: 0;
 padding: 0;
 padding-top: 8px;
 list-style: none;
 font-size: 12px;
}

.search-results-center li {
 display: inline-block;
 margin-right: 32px;
 font-size: 12px;
 vertical-align: top;
 padding-left: 20px;
}

.search-results-center li:first-child {
 margin-right: 40px;
}

.search-results-center a {
 padding-right: 2px;
 padding-left: 2px;
 color: rgba(0, 0, 0, 0.3);
 text-decoration: none;
 border-bottom: 1px dashed #81b3d2;
}

.search-results-center a {
 padding-right: 1px;
 padding-left: 1px;
 color: rgba(0, 0, 0, 0.3);
 text-decoration: none;
 border-bottom: 1px dashed #81b3d2;
}

.search-results-center a:hover, .search-results-sort-active a:hover {
 color: #81b3d2;
 border-bottom: 1px dashed #81b3d2;
}

.search-results-center a:active, .search-results-sort-active a:active {
 color: black;
 border-bottom: none;
}

.search-results-sort-active a {
 color: #81b3d2;
 border-bottom: none;
}

.search-results-right {
 margin-right: -8px;
 text-align: right;
 width: 40px;
}

.icon-up-dir {
 font-size: 20px;
}

.icon-down-dir {
 font-size: 20px;
}

.arrow {
 color: #cccccc;
 text-decoration: none;
}

.arrow:hover {
 color: #000000;
}

.arrow:active {
 color: #81b3d2;
}

.arrow-active {
 color: #81b3d2;
 text-decoration: none;
}

.image-hotel {
 width: 135px;
 height: 90px;
}

.hotel-content>a {
 display: block;
 margin: 0;
 margin-top: -6px;
 padding: 0;
 font-weight: bold;
 font-size: 21px;
 line-height: 26px;
 color: #000000;
 text-decoration: none;
}

.hotel-content>a:hover {
 color: #81b3d2;
}

.hotel-content>a:active {
 color: rgba(0, 0, 0, 0.3);
}

.hotel-btn a {
 display: block;
 margin-top: 14px;
 padding: 5px 16px;
 font-weight: bold;
 font-size: 14px;
 text-align: center;
 text-decoration: none;
}

.link-reservation {
 color: white;
 background-color: #766357;
}

.link-reservation:hover {
 color: white;
 background-color: #604e43;
}

.link-reservation:active {
 color: rgba(255, 255, 255, 0.3);
 background-color: #503e33;
}

.link-information {
 color: white;
 background-color: #81b3d2;
}

.link-information:hover {
 color: white;
 background-color: #669ec0;
}

.link-information:active {
 color: rgba(255, 255, 255, 0.3);
 background-color: #5496bd;
}

.hotel-rating {
 width: 120px;
 text-align: right;
}

.rating-stars {
 margin-top: -6px;
 margin-right: -4px;
}

.icon-star {
 font-size: 18px;
 color: #81b3d2;
}

.hotel-rating span {
 margin: 0;
 margin-top: 43px;
 margin-right: 2px;
 padding: 0;
 padding: 5px 16px;
 font-size: 14px;
 color: #666666;
 background: #f2f2f2;
}
